#include "../../Config/App.xcconfig"

MS_SIM_ARCHS = x86_64

GCC_NO_COMMON_BLOCKS = YES
ALWAYS_SEARCH_USER_PATHS = NO
DEFINES_MODULE = YES
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
SWIFT_OBJC_BRIDGING_HEADER = CrashLib/CrashLib-Bridging-Header.h
SWIFT_VERSION = 3.0
OTHER_CFLAGS = -fno-optimize-sibling-calls
