[submodule "AppCenterIdentity/MSAL/microsoft-authentication-library-for-objc"]
	path = AppCenterIdentity/MSAL/microsoft-authentication-library-for-objc
	url = https://github.com/AzureAD/microsoft-authentication-library-for-objc
