#include "../../Config/App.xcconfig"

ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
ALWAYS_SEARCH_USER_PATHS = NO
ASSETCATALOG_COMPILER_APPICON_NAME = App Icon & Top Shelf Image
ASSETCATALOG_COMPILER_LAUNCHIMAGE_NAME = LaunchImage
ENABLE_NS_ASSERTIONS = NO
ENABLE_STRICT_OBJC_MSGSEND = YES
COMBINE_HIDPI_IMAGES = YES
MTL_ENABLE_DEBUG_INFO = NO
COPY_PHASE_STRIP = NO
PRODUCT_NAME = $(TARGET_NAME)
VALIDATE_PRODUCT = YES

SWIFT_OBJC_BRIDGING_HEADER = SasquatchTV/SasquatchTV-Bridging-Header.h
SWIFT_OBJC_INTERFACE_HEADER_NAME = SasquatchTVObjC-Swift.h
SWIFT_VERSION = 3.0
SWIFT_COMPILATION_MODE = wholemodule

HEADER_SEARCH_PATHS = $(SRCROOT)/../CrashLib/CrashLib
FRAMEWORK_SEARCH_PATHS = $(PROJECT_DIR)/../AppCenter-SDK-Apple/tvOS/**
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/Frameworks

SDKROOT = appletvos
TARGETED_DEVICE_FAMILY = 3
TVOS_DEPLOYMENT_TARGET = 10.1

CLANG_ANALYZER_NONNULL = YES
CLANG_CXX_LANGUAGE_STANDARD = "gnu++0x"
CLANG_CXX_LIBRARY = "libc++"
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_MODULE_DEBUGGING = YES
CLANG_MODULES_AUTOLINK = YES
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_DYNAMIC_NO_PIC = NO
GCC_NO_COMMON_BLOCKS = YES
