<?xml version=“1.0” encoding=“UTF-8"?>
<!DOCTYPE plist PUBLIC “-//Apple//DTD PLIST 1.0//EN” “http://www.apple.com/DTDs/PropertyList-1.0.dtd“>
<plist version=“1.0”>
<dict>
  <key>ClientId</key>
  <string>rdaba1xRlO57PdQuF3RVk1K9k3ZJcFkO</string>
  <key>Domain</key>
  <string>appcentersdk.auth0.com</string>
</dict>
</plist>
