SUPPORTS_MACCATALYST = YES
ASSETCATALOG_COMPILER_APPICON_NAME = PuppetIcon

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) GCC_PREPROCESSOR_MACRO_PUPPET SQLITE_DEFAULT_PAGE_SIZE=1024
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) ACTIVE_COMPILATION_CONDITION_PUPPET

USER_HEADER_SEARCH_PATHS = $(SRCROOT)/../AppCenter/AppCenter/** $(SRCROOT)/../AppCenterAnalytics/AppCenterAnalytics/** $(SRCROOT)/../AppCenterCrashes/AppCenterCrashes/** $(SRCROOT)/../AppCenterDistribute/AppCenterDistribute/** 
FRAMEWORK_SEARCH_PATHS = $(SRCROOT)/../CrashLib/CrashLib

OTHER_CFLAGS = -fno-optimize-sibling-calls
OTHER_LDFLAGS = $(OTHER_LDFLAGS) -framework SafariServices
OTHER_LDFLAGS = $(OTHER_LDFLAGS) -framework SystemConfiguration
OTHER_LDFLAGS = $(OTHER_LDFLAGS) -framework CoreTelephony
