ASSETCATALOG_COMPILER_APPICON_NAME = PuppetIcon

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) GCC_PREPROCESSOR_MACRO_PUPPET SQLITE_DEFAULT_PAGE_SIZE=1024
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) ACTIVE_COMPILATION_CONDITION_PUPPET

USER_HEADER_SEARCH_PATHS = $(SRCROOT)/../AppCenter/AppCenter/** $(SRCROOT)/../AppCenterAnalytics/AppCenterAnalytics/** $(SRCROOT)/../AppCenterCrashes/AppCenterCrashes/** $(SRCROOT)/../AppCenterDistribute/AppCenterDistribute/** $(SRCROOT)/../AppCenterPush/AppCenterPush/**
FRAMEWORK_SEARCH_PATHS = $(SRCROOT)/../Vendor/iOS/** $(SRCROOT)/../CrashLib/CrashLib

OTHER_CFLAGS = -fno-optimize-sibling-calls

