ASSETCATALOG_COMPILER_APPICON_NAME = PuppetIcon

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) GCC_PREPROCESSOR_MACRO_PUPPET SQLITE_DEFAULT_PAGE_SIZE=1024
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) ACTIVE_COMPILATION_CONDITION_PUPPET

USER_HEADER_SEARCH_PATHS = $(SRCROOT)/../AppCenter/AppCenter/**
USER_HEADER_SEARCH_PATHS = $(USER_HEADER_SEARCH_PATHS) $(SRCROOT)/../AppCenterAnalytics/AppCenterAnalytics/**
USER_HEADER_SEARCH_PATHS = $(USER_HEADER_SEARCH_PATHS) $(SRCROOT)/../AppCenterCrashes/AppCenterCrashes/**
USER_HEADER_SEARCH_PATHS = $(USER_HEADER_SEARCH_PATHS) $(SRCROOT)/../AppCenterDataStorage/AppCenterDataStorage/**
USER_HEADER_SEARCH_PATHS = $(USER_HEADER_SEARCH_PATHS) $(SRCROOT)/../AppCenterDistribute/AppCenterDistribute/**
USER_HEADER_SEARCH_PATHS = $(USER_HEADER_SEARCH_PATHS) $(SRCROOT)/../AppCenterIdentity/AppCenterIdentity/**
USER_HEADER_SEARCH_PATHS = $(USER_HEADER_SEARCH_PATHS) $(SRCROOT)/../AppCenterPush/AppCenterPush/**
FRAMEWORK_SEARCH_PATHS = $(SRCROOT)/../Vendor/iOS/** $(SRCROOT)/../CrashLib/CrashLib $(SRCROOT)/../Vendor/iOS/MSAL/**

OTHER_CFLAGS = -fno-optimize-sibling-calls
