#include "../../Config/App.xcconfig"

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
DEFINES_MODULE = NO
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
ALWAYS_SEARCH_USER_PATHS = NO
ENABLE_STRICT_OBJC_MSGSEND = YES
PRODUCT_NAME = $(TARGET_NAME)

SDKROOT = iphoneos
TARGETED_DEVICE_FAMILY = 1,2

HEADER_SEARCH_PATHS = $(SRCROOT)/../CrashLib/CrashLib
FRAMEWORK_SEARCH_PATHS = $(PROJECT_DIR)/../AppCenter-SDK-Apple/iOS/**
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

SWIFT_OBJC_BRIDGING_HEADER = Sasquatch/Sasquatch-Bridging-Header.h
SWIFT_OBJC_INTERFACE_HEADER_NAME = Sasquatch-Swift.h
SWIFT_VERSION = 3.0
