#include "../../Config/App.xcconfig"

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
DEFINES_MODULE = NO
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
ALWAYS_SEARCH_USER_PATHS = NO
ENABLE_STRICT_OBJC_MSGSEND = YES
PRODUCT_NAME = $(TARGET_NAME)

SDKROOT = iphoneos
TARGETED_DEVICE_FAMILY = 1,2

HEADER_SEARCH_PATHS = $(SRCROOT)/../CrashLib/CrashLib
FRAMEWORK_SEARCH_PATHS = $(PROJECT_DIR)/../AppCenter-SDK-Apple/iOS/**
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

SWIFT_OBJC_BRIDGING_HEADER = Sasquatch/Sasquatch-Bridging-Header.h
SWIFT_OBJC_INTERFACE_HEADER_NAME = Sasquatch-Swift.h
SWIFT_VERSION = 3.0

ARCHS = ("$(ARCHS_STANDARD)", armv7s)
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
CLANG_ANALYZER_NONNULL = YES
CLANG_CXX_LANGUAGE_STANDARD = "gnu++0x"
CLANG_CXX_LIBRARY = "libc++"
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
CODE_SIGN_IDENTITY = "iPhone Developer"
COPY_PHASE_STRIP = NO
DEVELOPMENT_TEAM = 5Z97G9NZQ6
ENABLE_TESTABILITY = YES
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_DYNAMIC_NO_PIC = NO
GCC_NO_COMMON_BLOCKS = YES
GCC_OPTIMIZATION_LEVEL = 0

MTL_ENABLE_DEBUG_INFO[config=Debug] = YES
MTL_ENABLE_DEBUG_INFO[config=Release] = NO

SWIFT_OPTIMIZATION_LEVEL[config=Debug] = -Onone
SWIFT_OPTIMIZATION_LEVEL[config=Release] = -Owholemodule

ENABLE_NS_ASSERTIONS[config=Release] = NO
VALIDATE_PRODUCT[config=Release] = YES
