#include "../../Config/App.xcconfig"

PRE_XCODE_10_1_ARCHS = armv7 armv7s arm64
ARCHS[sdk=iphoneos*] = $(PRE_XCODE_10_1_ARCHS) arm64e
ARCHS[sdk=iphoneos9.*] = $(PRE_XCODE_10_1_ARCHS)
ARCHS[sdk=iphoneos10.*] = $(PRE_XCODE_10_1_ARCHS)
ARCHS[sdk=iphoneos11.*] = $(PRE_XCODE_10_1_ARCHS)
ARCHS[sdk=iphoneos12.0] = $(PRE_XCODE_10_1_ARCHS)
PRE_XCODE_10_1_WATCH_ARCHS = armv7k
ARCHS[sdk=watchos*] = $(PRE_XCODE_10_1_WATCH_ARCHS) arm64_32
ARCHS[sdk=watchos4.*] = $(PRE_XCODE_10_1_WATCH_ARCHS)
ARCHS[sdk=watchos3.*] = $(PRE_XCODE_10_1_WATCH_ARCHS)
ARCHS[sdk=iphonesimulator*] = x86_64 i386
VALID_ARCHS[sdk=iphoneos*] = $(ARCHS)
VALID_ARCHS[sdk=iphoneos9.*] = $(ARCHS)
VALID_ARCHS[sdk=iphoneos10.*] = $(ARCHS)
VALID_ARCHS[sdk=iphoneos11.*] = $(ARCHS)
VALID_ARCHS[sdk=iphoneos12.0] = $(ARCHS)
VALID_ARCHS[sdk=watchos*] = $(ARCHS)
VALID_ARCHS[sdk=watchos4.*] = $(ARCHS)
VALID_ARCHS[sdk=watchos3.*] = $(ARCHS)
VALID_ARCHS[sdk=iphonesimulator*] = $(ARCHS)

ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
ALWAYS_SEARCH_USER_PATHS = NO
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
DEFINES_MODULE = NO
ENABLE_NS_ASSERTIONS = NO
ENABLE_STRICT_OBJC_MSGSEND = YES
MTL_ENABLE_DEBUG_INFO = NO
PRODUCT_NAME = $(TARGET_NAME)
VALIDATE_PRODUCT = YES

SDKROOT = iphoneos
TARGETED_DEVICE_FAMILY = 1,2

HEADER_SEARCH_PATHS = $(SRCROOT)/../CrashLib/CrashLib
FRAMEWORK_SEARCH_PATHS = $(PROJECT_DIR)/../AppCenter-SDK-Apple/iOS/**
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks

SWIFT_OBJC_BRIDGING_HEADER = Sasquatch/Sasquatch-Bridging-Header.h
SWIFT_OBJC_INTERFACE_HEADER_NAME = Sasquatch-Swift.h
SWIFT_VERSION = 3.0
SWIFT_OPTIMIZATION_LEVEL = -Owholemodule
SWIFT_COMPILATION_MODE = wholemodule

CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
CLANG_ANALYZER_NONNULL = YES
CLANG_CXX_LANGUAGE_STANDARD = "gnu++0x"
CLANG_CXX_LIBRARY = "libc++"
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_DYNAMIC_NO_PIC = NO
GCC_NO_COMMON_BLOCKS = YES
