#include "Sasquatch.xcconfig"

ONLY_ACTIVE_ARCH = YES
GCC_OPTIMIZATION_LEVEL = 0
MTL_ENABLE_DEBUG_INFO = YES
SWIFT_OPTIMIZATION_LEVEL = -Onone
ENABLE_NS_ASSERTIONS = YES
ENABLE_TESTABILITY = YES
VALIDATE_PRODUCT = NO
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) DEBUG
