APPLICATION_EXTENSION_API_ONLY = NO

CLANG_WARN_DOCUMENTATION_COMMENTS = YES

COMBINE_HIDPI_IMAGES = YES

INFOPLIST_FILE = AppCenterDistributeResources/Info.plist

INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Bundles

PRODUCT_BUNDLE_IDENTIFIER = ${PRODUCT_BUNDLE_IDENTIFIER}.resources.ios

PRODUCT_NAME = ${PROJECT_NAME}Resources

SKIP_INSTALL = YES

WRAPPER_EXTENSION = bundle
