#include "SonomaCrashes.xcconfig"

BUILD_NUMBER = 1
VERSION_STRING = 0.1.0
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(AVALANCHE_GCC_PREPROCESSOR_DEFINITIONS) AVALANCHE_CONFIGURATION_$(CONFIGURATION) AVALANCHE_VERSION="@\""$(VERSION_STRING)"\"" AVALANCHE_BUILD="@\""$(BUILD_NUMBER)"\"" AVALANCHE_C_VERSION="\""$(VERSION_STRING)"\"" AVALANCHE_C_BUILD="\""$(BUILD_NUMBER)"\""
AVA_ARM_ARCHS = armv7 armv7s arm64
AVA_SIM_ARCHS = x86_64 i386
ARCHS = $(AVA_ARM_ARCHS)
VALID_ARCHS = $(AVA_ARM_ARCHS)
OTHER_CFLAGS = $(AVALANCHE_WARNING_FLAGS)
