DEFINES_MODULE = YES

VERSION_INFO_PREFIX = ""
VERSIONING_SYSTEM = "apple-generic"
CURRENT_PROJECT_VERSION = 1

MODULEMAP_FILE = $(SRCROOT)/$(PROJECT_NAME)/Support/$(APPCENTER_BUILD_PLATFORM).modulemap
INFOPLIST_FILE = $(PROJECT_NAME)/Support/Info.plist
MACH_O_TYPE = mh_dylib

INSTALL_PATH = @rpath/Frameworks
