DEFINES_MODULE = YES

VERSION_INFO_PREFIX = ""
VERSIONING_SYSTEM = "apple-generic"
DYLIB_COMPATIBILITY_VERSION = 1
CURRENT_PROJECT_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks

INFOPLIST_FILE = $(PROJECT_NAME)/Support/Info.plist
MACH_O_TYPE = staticlib
