CURRENT_PROJECT_VERSION = 1
DEFINES_MODULE = YES
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = "@rpath"
INFOPLIST_FILE = AppCenter/Support/Info.plist
INSTALL_PATH = "$(LOCAL_LIBRARY_DIR)/Frameworks"
LD_RUNPATH_SEARCH_PATHS = "$(inherited) @executable_path/Frameworks @loader_path/Frameworks"
VERSIONING_SYSTEM = "apple-generic"
VERSION_INFO_PREFIX = ""
