#include "./Tests.xcconfig"
#include "./iOS.xcconfig"

OTHER_LDFLAGS = $(inherited) -framework UIKit -framework SafariServices -framework WebKit -framework AuthenticationServices -ObjC -lz

LD_RUNPATH_SEARCH_PATHS = @executable_path/Frameworks @loader_path/Frameworks "$(SRCROOT)/../Vendor/iOS/OCMock" "$(SRCROOT)/../Vendor/iOS/OCHamcrest" "$(SRCROOT)/../Vendor/iOS/OHHTTPStubs"

// OCMock and OCHamcrest have a bunch of warnings so we just disable this only for testing.
GCC_TREAT_WARNINGS_AS_ERRORS = NO

USER_HEADER_SEARCH_PATHS=$(inherited) $(SRCROOT)/MSAL/**
