#include "buildnumber.xcconfig"

OTHER_CFLAGS[sdk=iphoneos9.*] = $(SONOMA_WARNING_FLAGS) -fembed-bitcode
OTHER_CFLAGS[sdk=iphonesimulator9.*] = $(SONOMA_WARNING_FLAGS) -fembed-bitcode-marker
OTHER_CFLAGS[sdk=iphoneos10.*] = $(SONOMA_WARNING_FLAGS) -fembed-bitcode
OTHER_CFLAGS[sdk=iphonesimulator10.*] = $(SONOMA_WARNING_FLAGS) -fembed-bitcode-marker
