#include "SonomaCore.xcconfig"

BUILD_NUMBER = 1
VERSION_STRING = 0.1.2
SDK_NAME = sonoma.ios
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(SONOMA_GCC_PREPROCESSOR_DEFINITIONS) SONOMA_CONFIGURATION_$(CONFIGURATION) SONOMA_NAME="@\""$(SDK_NAME)"\"" SONOMA_VERSION="@\""$(VERSION_STRING)"\"" SONOMA_BUILD="@\""$(BUILD_NUMBER)"\"" SONOMA_C_NAME="\""$(SDK_NAME)"\"" SONOMA_C_VERSION="\""$(VERSION_STRING)"\"" SONOMA_C_BUILD="\""$(BUILD_NUMBER)"\""
SNM_ARM_ARCHS = armv7 armv7s arm64
SNM_SIM_ARCHS = x86_64 i386
ARCHS = $(SNM_ARM_ARCHS)
VALID_ARCHS = $(SNM_ARM_ARCHS)
OTHER_CFLAGS = $(SONOMA_WARNING_FLAGS)
